<div class="contenedor-autocomplete">
  <mat-form-field  class="campo-autocomplete">
    <mat-label>Seleccionar paciente</mat-label>
    <input type="text"
           placeholder="Nombre o apellido"
           aria-label="Paciente"
           matInput
           [formControl]="pacienteControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPaciente" (optionSelected)="seleccionarPaciente($event.option.value)">
      <mat-option *ngFor="let paciente of pacientesFiltrados" [value]="paciente">
        {{ paciente.Nombre }} {{ paciente.Apellido }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="calendar-container">
  <full-calendar [events]="eventosCalendario" [options]="calendarOptions"></full-calendar>
</div>