html.institucional_theme {
  --mat-sys-primary: #aa262b;
  --mat-sys-primary-fixed-dim: rgba(170, 38, 43, 0.15);
  --mat-sys-secondary: #C1C1C1;
  --mat-sys-secondary-fixed-dim: rgba(193, 193, 193, 0.15);
  --mat-sys-surface-bright: #F1ECE6;
  --mat-sys-background: #F1ECE6;
  --mat-sys-on-background: #222;
} 