<div class="contenedor-reportes">

    <div class="filtros">
        <div class="selector-dinamico" style="display: flex; gap: 20px;">
            <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label>Paciente</mat-label>
                <mat-select [(ngModel)]="pacienteSeleccionado" (selectionChange)="actualizarGrafanaUrl()">
                    <mat-option value="">Todos</mat-option>
                    <mat-option *ngFor="let paciente of pacientes" [value]="paciente.nombre">{{ paciente.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label>Profesional</mat-label>
                <mat-select [(ngModel)]="profesionalSeleccionado" (selectionChange)="actualizarGrafanaUrl()">
                    <mat-option value="">Todos</mat-option>
                    <mat-option *ngFor="let profesional of profesionales" [value]="profesional.nombre">{{ profesional.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="estadoSeleccionado" (selectionChange)="actualizarGrafanaUrl()">
                    <mat-option value="">Todos</mat-option>
                    <mat-option value="Asistido">Asistido</mat-option>
                    <mat-option value="Ausente">Ausente</mat-option>
                    <mat-option value="Cancelado">Cancelado</mat-option>
                    <mat-option value="Agendado">Agendado</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="rango-fechas" style="display: flex; align-items: center; gap: 20px;">
            <mat-form-field appearance="fill">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" (dateChange)="actualizarGrafanaUrl()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" (dateChange)="actualizarGrafanaUrl()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="warn" style="background-color: #d0cfcf; border-radius: 6px; font-size: 14px; font-weight: bold; min-width: 150px;" (click)="limpiarFiltros()">Limpiar</button>
            <button mat-raised-button color="primary" style="background-color: #d0cfcf; border-radius: 6px; font-size: 14px; font-weight: bold; min-width: 150px;" (click)="exportarExcel()">Exportar a Excel</button>
        </div>
    </div>

    <div class="resultados" *ngIf="grafanaUrl && grafanaGraficoTortaUrl && grafanaGraficoBarrasUrl && pacientes.length > 0 && profesionales.length > 0">
        <div class="dashboard-grafana-tabla" style="margin-bottom: 20px;">
            <iframe 
                [src]="grafanaUrl" 
                width="100%" 
                height="600" 
                frameborder="0"
                style="border-radius: 8px;">
            </iframe>
        </div>

        <div class="dashboard-grafana-graficos" style="display: flex; justify-content: space-between; gap: 20px; margin-top: 20px;">
            <iframe 
                [src]="grafanaGraficoTortaUrl" 
                width="48%" 
                height="400" 
                frameborder="0"
                style="border-radius: 8px;">
            </iframe>

            <iframe 
                [src]="grafanaGraficoBarrasUrl" 
                width="48%" 
                height="400" 
                frameborder="0"
                style="border-radius: 8px;">
            </iframe>
        </div>
        
        <div class="dashboard-grafana-graficos-asistencia" style="display: flex; justify-content: space-between; gap: 20px; margin-top: 20px;">
            <iframe 
                [src]="grafanaGraficoTortaAsistenciaUrl" 
                width="48%" 
                height="400" 
                frameborder="0"
                style="border-radius: 8px;">
            </iframe>

            <iframe 
                [src]="grafanaGraficoBarrasAsistenciaUrl" 
                width="48%" 
                height="400" 
                frameborder="0"
                style="border-radius: 8px;">
            </iframe>
        </div>
    </div>
</div>