.usuario-button {
    color: black; /* o el color que prefieras */
    font-weight: bold;
}

mat-toolbar {
    background-color: #aa262b; /* o el color que prefieras para tu barra superior */
    color: #C1C1C1 !important;
    display: flex;
    justify-content: right;
    padding: 0 16px;
    height: 35px;
}

.usuario-button {
    color: #C1C1C1; /* Ajustamos también para que el nombre del usuario sea blanco */
    font-weight: bold;
}