
.estilo-listas {
  width: 300px !important; /* Ajusta el ancho según sea necesario */
  background-color: #F1ECE6 !important;
  border-radius: 4px;
}

.titulo-nuevoturno {
  font-size: 30px !important;
  color: #aa262b; /* color primario Material */
  margin-bottom: 20px;
  margin-top: 1px;
  display: block;
}

.boton-accion {
  min-width: 150px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 16px;
  background-color: #d0cfcf;
}

.fc-theme-standard td, .fc-theme-standard th {
  border-color: #ffffff; /* Cambia este color según sea necesario */
}

.fc-header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0 !important;
  color: black;
  padding: 8px;
  border-radius: 0;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  font-size: 10px;
}

/* Estilo base para los encabezados de los días */
.fc .fc-col-header-cell {
  background-color: #e0e0e0; /* Color de fondo base */
  color: #333; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  border-bottom: 1px solid #ccc; /* Línea divisoria */
  font-size: 12px;
}

.fc .fc-daygrid-day-number {
  font-size: 8px; /* Ajusta el tamaño de la letra del número del día */
}

.fc .fc-daygrid-event {
  font-size: 8px; /* Ajusta el tamaño de la letra de los eventos */
}