<div class="menu-principal">
  <div class="logo">
    <img src="assets/img/logo_talc.png" alt="Logo TALC" />
  </div>
    <div class="menu-grid">
        <div class="menu-item" (click)="navegar('turnos/calendario')">
            <mat-icon>calendar_today</mat-icon>
            <span>Turnos</span>
        </div>
        <div class="menu-item" (click)="navegar('pacientes')">
            <mat-icon>group</mat-icon>
            <span>Pacientes</span>
        </div>
        <div class="menu-item" (click)="navegar('facturacion')">
            <mat-icon>badge</mat-icon>
            <span>Facturación</span>
        </div>
        <div class="menu-item" (click)="navegar('administracion')">
            <mat-icon>settings</mat-icon>
            <span>Administración</span>
        </div>
    </div>
</div>