.menu-principal {
    text-align: center;
    padding: 40px 20px;
}

.logo {
  display: flex;
  align-items: center;
  height:250px;
  margin-bottom: -150px;
  justify-content: center;
}

.logo img {
  margin-left: 380px;
  height: 500px;
  width: auto;
  object-fit: contain;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.menu-item {
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #f6f6f6;
    transform: translateY(-3px);
    color: #aa262b;
}

.menu-item mat-icon {
    font-size: 25px;
    margin-bottom: 10px;
}

.menu-item span {
    display: block;
    font-size: 18px;
    font-weight: bold;
}