/* color toolbar */
.fc-header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0 !important;
  color: black;
  padding: 8px;
  border-radius: 0;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  height: 35px;
  font-size: 12px;
}

/* Color botones */
.fc .fc-button {
  background-color: #070707;
  color: white;
  border: none;
}

/* Color líneas interiores calendario */
.fc-theme-standard td, .fc-theme-standard th {
  border-color: #ffffff; /* Cambia este color según sea necesario */
}

/* Colores para las especialidades */
.especialidad-psicología {
  background-color: #4caf50 !important; /* Verde */
  border-color: #4caf50 !important;
  color: #fff !important;
}

.especialidad-fonoaudiología {
  background-color: #ff9800 !important; /* Naranja */
  border-color: #ff9800 !important;
  color: #fff !important;
}

.especialidad-educación-especial {
  background-color: #2196f3 !important; /* Azul */
  border-color: #2196f3 !important;
  color: #fff !important;
}

.especialidad-psicomotricidad {
  background-color: #9c27b0 !important; /* Violeta */
  border-color: #9c27b0 !important;
  color: #fff !important;
}

.especialidad-kinesiología {
  background-color: #e91e63 !important; /* Rosa */
  border-color: #e91e63 !important;
  color: #fff !important;
}

.especialidad-terapia-ocupacional {
  background-color: #795548 !important; /* Marrón */
  border-color: #795548 !important;
  color: #fff !important;
}

.especialidad-psicopedagogía {
  background-color: #3f51b5 !important; /* Azul oscuro */
  border-color: #3f51b5 !important;
  color: #fff !important;
}

.especialidad-inclusión-escolar {
  background-color: #00bcd4 !important; /* Celeste */
  border-color: #00bcd4 !important;
  color: #fff !important;
}

.especialidad-rehabilitación-auditiva {
  background-color: #009688 !important; /* Verde azulado */
  border-color: #009688 !important;
  color: #fff !important;
}

/* Estilo para eventos pasados */
.pasado {
  background-color: #cccccc !important; /* Gris */
  border-color: #cccccc !important;
  color: #666 !important;
}

/* Cambiar el color de fondo del área principal del calendario */
.fc .fc-view-harness {
  background-color: #F1ECE6; /* Reemplaza con el color deseado */
  overflow: auto !important; /* Permite el scrollbar solo en el área de FullCalendar */
}

/* Ocultar scrollbars en la interfaz excepto en FullCalendar */
body {
  overflow: hidden; /* Oculta el scrollbar global */
}

/* Reducir el alto del FullCalendar */
.fc .fc-scroller {
  max-height: 550px; /* Ajusta este valor según sea necesario */
}

.fc-timegrid-slot-label {
  background-color: #e0e0e0;
  font-weight: bold;
}

/* Estilo base para los encabezados de los días */
.fc .fc-col-header-cell {
  background-color: #e0e0e0; /* Color de fondo base */
  color: #333; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  border-bottom: 1px solid #ccc; /* Línea divisoria */
}
