.form-container {
  display: flex;
  gap: 32px; /* Espaciado entre las columnas */
}

.form-left {
  flex: 2; /* Ocupa más espacio */
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaciado entre los elementos */
}

.form-right {
  flex: 2; /* Ocupa menos espacio */
}

.boxcustom1{
  max-width: 200px; /* Ancho máximo del contenedor */
  width: 100%;
}

.boxcustom2{
  max-width: 250px; /* Ancho máximo del contenedor */
  width: 100%;
}

.form-row {
  display: flex;
  gap: 10px; /* Espaciado entre los elementos */
}

.form-row-dni {
  display: flex;
  gap: 60px;
  align-items: center; /* Esta línea es clave */
}

.custom-toggle {
margin-top: 20px;
}

.boton-accion {
  min-width: 150px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 16px;
  background-color: #d0cfcf;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.placeholder-small input::placeholder {
  font-size: 12px; /* Ajusta el tamaño según sea necesario */
  color: #757575; /* Opcional: Cambia el color del placeholder */
}