.fc {
    display: flex;
    flex-direction: column;
    height: 100vh; /* o un alto que prefieras */
  }
  
  .fc-header-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white; /* para que no se traslape con el contenido al hacer scroll */
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .fc-view-harness {
    flex: 1;
    overflow-y: auto;
  }

/* Estilos globales para mat-select y su panel desplegable */

.cdk-overlay-pane {
    background-color: rgb(238, 235, 235) !important;
}

.centered-snackbar {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #323232 !important;
  color: white !important;
  padding: 16px !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  text-align: center !important;
  z-index: 10000 !important;
}

.fc-event.cancelado {
    opacity: 0.5 !important;
    text-decoration: line-through !important;
}

.main-content {
  background-color: #F1ECE6; /* Podés cambiar a cualquier color */
  padding: 24px;
  min-height: 100vh;
}

body {
  background-color: #F1ECE6;
}

